@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css.');
body {background-color: rgb(0, 26, 51);
  text-align: center;
}

.card {
  background-color: rgb(0, 40, 77);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  float: none;
  margin: auto;
  text-align: center;
  width: 500px;
  margin-bottom: 10%;
  margin-top: 10%;

}
.card-body {
  color: white;
  margin: 10%;
  text-align: left;
  font-size: 12px;
}
.title{
  color:rgb(255, 255, 255) ;
  margin-bottom: 5px;
  font-size: 15px;
}
.description{
  color:rgba(217, 217, 217,0.5) ;
  margin-bottom: 20px;
}
.price{
  color:rgb(0, 204, 255) ;
  margin-bottom: 20px;
}
.time{
  color:rgba(217, 217, 217,0.5) ;
  margin-bottom: 20px;
}
.card-img-top{
  width: 250px;
  height:250px;
}
.card-img{
  width: 20px;
  height:20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}